*.zip
discovery-piscine-mentors/
piscine-go-mentors/
discord-mod-bot/
dev-back/my-uber-correction/
deb-back/front-tp-api/
dev-mobile/tp-final-meteo/
devops/tp-gitlab-jenkins/
mentor-stuff/b2-php/wordpress/
node_modules/
.DS_Store