.container {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(6, 33, 46);
  border-radius: 1rem;
  padding: 2rem;
  color: #fff;
  margin: 1rem;
  font-family: sans-serif;
}
