<div>
  <div class="text-lg font-black">Room id: {{ id }}</div>
  <div>
    <p *ngIf="guest.trim() !== ''" class="py-2 text-teal-800">
      Guest: {{ guest }}
    </p>
    <p>
      <ew-angular-fridge
        [isAvailable]="isAvailable"
        (takeABottleEvent)="onBottleCountChange($event)"
      ></ew-angular-fridge>
    </p>
    <div class="my-4">
      <input
        class="w-full p-2 border border-teal-500 rounded-lg mb-2"
        type="text"
        [(ngModel)]="guest"
      />
      <button
        class="bg-teal-500 w-full hover:bg-teal-700 text-white font-bold py-2 px-4 rounded text-center"
        (click)="call()"
        [disabled]="isDoNotDisturb"
      >
        Knock-knock
      </button>
    </div>
    <div class="flex w-full justify-between">
      <button
        class="bg-teal-500 hover:bg-teal-700 text-white font-bold py-2 px-4 rounded"
        (click)="isDoNotDisturb = !isDoNotDisturb"
      >
        Switch do not disturb
      </button>
      <button
        class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded"
        (click)="onDelete()"
      >
        DELETE!
      </button>
    </div>
  </div>
</div>
